<section class="design">
  <div class="design--container__1">
    <div class="design__logo--design">
      <i class="far fa-object-ungroup"></i>
    </div>
    <p class="design__title">Diseña</p>
    <div class="design__logo--angleup">
      <i class="fas fa-angle-up"></i>
    </div>
  </div>

  <div class="design__container--2">
    <p class="design__subtitle">Colores</p>
    <form class="design__form" action="" method="GET">
      <div class="design__form--item1">
        <input type="radio" />
        <div class="design__palette1">
          <div class="design__palette1--colorA"></div>
          <div class="design__palette1--colorB"></div>
          <div class="design__palette1--colorC"></div>
        </div>
      </div>
      <div class="dessign__form--item2">
        <input type="radio" />
        <div class="design__color-palette2">
          <div class="colorD"></div>
          <div class="colorE"></div>
          <div class="colorF"></div>
        </div>
      </div>
      <div class="dessign__form--item3">
        <input type="radio" />
        <div class="design__color-palette--3">
          <div class="colorG"></div>
          <div class="colorH"></div>
          <div class="colorI"></div>
        </div>
      </div>
    </form>
  </div>
</section>
