<section class="design">
  <div class="design--container__1">
    <div class="design--logo-design">
      <i class="far fa-object-ungroup"></i>
    </div>
    <p class="design--title">Diseña</p>
    <div class="design--logo-angleup">
      <i class="fas fa-angle-up"></i>
    </div>
  </div>

  <div class="design--container__2">
    <p class="design--subtitle">Colores</p>
    <form class="design--form" action="" method="GET">
      <div class="design--form__item">
        <input type="radio" name="select-palette" />
        <div class="design--palette1">
          <div class="design--palette1__colorA"></div>
          <div class="design--palette1__colorB"></div>
          <div class="design--palette1__colorC"></div>
        </div>
      </div>
      <div class="design--form__item">
        <input type="radio" name="select-palette" class="js-radio-design-palette-1" />
        <div class="design--palette2">
          <div class="design--palette2__colorA"></div>
          <div class="design--palette2__colorB"></div>
          <div class="design--palette2__colorC"></div>
        </div>
      </div>
      <div class="design--form__item">
        <input type="radio" name="select-palette" />
        <div class="design--palette3">
          <div class="design--palette3__colorA"></div>
          <div class="design--palette3__colorB"></div>
          <div class="design--palette3__colorC"></div>
        </div>
      </div>
    </form>
  </div>
</section>
