<section class="design">
  <div class="design__container--1">
    <div class="design__logo--design">
      <i class="far fa-object-ungroup"></i>
    </div>
    <p class="design__title">Diseña</p>
    <div class="design__logo--angleup">
      <i class="fas fa-angle-up"></i>
    </div>
  </div>

  <div class="design__container--2">
    <p class="design__subtitle">Colores</p>
    <form class="design__form" action="" method="GET">
      <div class="design__form--item1">
        <input type="radio" />
        <div class="design__color-palette--1">
          <div class="color-a"></div>
          <div class="color-b"></div>
          <div class="color-c"></div>
        </div>
      </div>
      <div class="dessign__form--item2">
        <input type="radio" />
        <div class="design__color-palette--2">
          <div class="color-d"></div>
          <div class="color-e"></div>
          <div class="color-f"></div>
        </div>
      </div>
      <div class="dessign__form--item3">
        <input type="radio" />
        <div class="design__color-palette--3">
          <div class="color-g"></div>
          <div class="color-h"></div>
          <div class="color-i"></div>
        </div>
      </div>
    </form>
  </div>
</section>
