<section class="section--fill">
  <!-- Titulo de seccion -->
  <div class="title">
    <span class="title--icon1"><i class="far fa-keyboard"></i></span>
    <h3 class="title--text">Rellena</h3>
    <a class="title--icon2 show"
      ><i class="js-arrow-fill fas fa-angle-up"></i
    ></a>
  </div>
  <div class="js-fill--div">
    <!-- Formulario -->
    <form class="js-form form" action="/signup" method="post">
      <!-- Nombre -->
      <label for="form--name"
        >Nombre completo <span class="form-object"> *</span></label
      >
      <input
        class="js-fill-name"
        id="form--name"
        type="text"
        name="form--name"
        placeholder="Ej: Sally Jill"
        required
      />
      <!-- Puesto -->
      <label for="form--job">Puesto <span class="form-object"> *</span></label>
      <input
        class="js-fill-job"
        id="form--job"
        type="text"
        name="form--job"
        placeholder="Ej: Front-end unicorn"
        required
      />
      <!-- Boton para subir imagen -->
      <label for="form--img"
        >Imagen de perfil<span class="form-object"> *</span></label
      >
      <div class="form--button__container">
        <button class="form--button">Añadir imagen</button>
        <span class="form--button__box"></span>
      </div>

      <!-- Correo electronico -->
      <label for="form--email">Email <span class="form-object"> *</span></label>
      <input
        class="js-fill-email"
        type="email"
        id="form--email"
        name="form--email"
        placeholder="Ej: sally-hill@gmail.com"
        required
      />
      <!-- Telefono -->
      <label for="form--phone"
        >Teléfono <span class="form-object"> *</span></label
      >
      <input
        class="js-fill-tel"
        type="tel"
        id="form--phone"
        name="form--phone"
        placeholder="555-55-55-55"
        required
      />
      <!-- Linkedin -->
      <label for="form--linkedin"
        >Linkedin <span class="form-object"> *</span></label
      >
      <input
        class="js-fill-linkedin"
        id="form--linkedin"
        type="text"
        name="form--linkedin"
        placeholder="Ej: linkedin.com/in/sally.hill"
        required
      />
      <label for="form--job">Github<span class="form-object"> *</span></label>
      <input
        class="js-fill-github"
        id="form--github"
        type="text"
        name="form--github"
        placeholder="Ej: @sally-hill"
        required
      />
    </form>
  </div>
</section>
<!-- <div class="card-sample--item">
          <a class="card-sample--item__link3" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="card-sample--item">
          <a class="card-sample--item__link4" href="#"><i class="fab fa-github-alt"></i></a>
        </div> -->
