<section class="section--fill">
  <!-- Titulo de seccion -->
  <div class="title">
    <span class="title--icon1"><i class="far fa-keyboard"></i></span>
    <h3 class="title--text">Rellena</h3>
    <a class="title--icon2"><i class="fas fa-angle-up"></i></a>
  </div>
  <!-- Formulario -->
  <form class="form" action="/signup" method="post">
    <!-- Nombre -->
    <label for="form--name">Nombre completo</label>
    <input
      id="form--name"
      type="text"
      name="form--name"
      placeholder="Ej: Sally Jill"
      required
    />
    <!-- Puesto -->
    <label for="form--job">Puesto</label>
    <input
      id="form--job"
      type="text"
      name="form--job"
      placeholder="Ej: Front-end unicorn"
      required
    />
    <!-- Boton para subir imagen -->
    <label for="form--img">Imagen de perfil</label>
    <div class="form--button__container">
      <button class="form--button">Añadir imagen</button>
      <span class="form--button__box"></span>
    </div>
    <!-- <input type="file" id="form--img" name="form--img" /> -->
    <!-- Correo electronico -->
    <label for="form--email">Email</label>
    <input
      type="email"
      id="form--email"
      name="form--email"
      placeholder="Ej: sally-hill@gmail.com"
      required
    />
    <!-- Telefono -->
    <label for="form--phone">Teléfono</label>
    <input
      type="tel"
      id="form--phone"
      name="form--phone"
      placeholder="555-55-55-55"
    />
    <!-- Linkedin -->
    <label for="form--linkedin">Linkedin</label>
    <input
      id="form--linkedin"
      type="text"
      name="form--linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
      required
    />
    <label for="form--job">Github</label>
    <input
      id="form--github"
      type="text"
      name="form--github"
      placeholder="Ej: @sally-hill"
      required
    />
  </form>
</section>
<!-- <div class="card-sample--item">
          <a class="card-sample--item__link3" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="card-sample--item">
          <a class="card-sample--item__link4" href="#"><i class="fab fa-github-alt"></i></a>
        </div> -->
