<main>
  <div class="landing">
    <img
      class="landing--logo"
      src="./assets/images/logo-awesome-profile-cards.svg"
      alt=""
    />
    <h1 class="landing--title">Crea tu tarjeta de visita</h1>
    <p class="landing--text">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <div class="landing--rectangle">
      <ul class="landing--list">
        <li class="landing--list__item">
          <a class="landing--list__link" href="">
            <i class="far fa-object-ungroup landing--list__icon"></i>
            <p>Diseña</p>
          </a>
        </li>
        <li class="landing--list__item">
          <a class="landing--list__link" href="">
            <i class="far fa-keyboard landing--list__icon"></i>
            <p>Rellena</p>
          </a>
        </li>
        <li class="landing--list__item">
          <a class="landing--list__link" href="">
            <i
              style="text-decoration: none;"
              class="fas fa-share-alt landing--list__icon"
            ></i>
            <p>Comparte</p>
          </a>
        </li>
      </ul>
    </div>
    <button class="landing--button">
      comenzar
    </button>
  </div>
</main>
