<section class="js-section"></section>
<!-- <section class="card-sample">
  <div class="card-sample--container">
    <button class="js-card-sample--button card-sample--button">
      <i class="far fa-trash-alt"></i> Reset
    </button>
    <div class="card-sample--card">
      <h2 class="card-sample--card__title js-card-sample--card__title ">
        Nombre Apellido
      </h2>
      <h3 class="card-sample--card__subtitle js-card-sample--card__subtitle">
        Front-end developer
      </h3>
      <img src="./assets/images/preview-photo.jpg" alt="imagen de ejemplo" />
      <div class="card-sample--item">
        <a class="card-sample--item__link1 js-card-sample--item__link" href="#"
          ><i class="fas fa-mobile-alt"></i
        ></a>
      </div>
      <div class="card-sample--item">
        <a class="card-sample--item__link2 js-card-sample--item__link" href="#"
          ><i class="far fa-envelope"></i
        ></a>
      </div>
      <div class="card-sample--item">
        <a class="card-sample--item__link3 js-card-sample--item__link" href="#"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
      <div class="card-sample--item">
        <a class="card-sample--item__link4 js-card-sample--item__link" href="#"
          ><i class="fab fa-github-alt"></i
        ></a>
      </div>
    </div>
  </div>
</section> -->
