<section class="section--share">
    <!-- Titulo de seccion -->
    <div class="share">
        <span class="share--icon1"><i class="fas fa-share-alt"></i></span>
        <h3 class="share--text"></i> Comparte</h3>
        <a class="share--icon2"><i class="fas fa-angle-up"></i></a>
    </div>

    <!-- Boton -->

    <div class="share--button__container">
        <button class="share--button"> <i class="far fa-address-card"></i> Crear tarjeta</button>
    </div>

    <!-- Tarjeta Creada -->
    <div class="share--tarjeta--creada">
        <div class="share--tarjeta--creada--text">La tarjeta ha sido creada</div>
        <div class="share--tarjeta--creada--awesome-prof">url creada</div>
        <div class="share--tarjeta--creada--button__container"></div>
        <button class="share--tarjeta--creada--button"><i class="fab fa-twitter"></i> Compartir en twitter</button>
    </div>
    </div>
</section>