<section class="section--share">
    <!-- Titulo de seccion -->
    <div class="share">
        <span class="share--icon1"><i class="fas fa-share-alt"></i></span>
        <h3 class="share--text"></i> Comparte</h3>
        <a class="share--icon2"><i class="js-arrow-share fas fa-angle-up"></i></a>
    </div>

    <!-- Boton -->
<div class="js-share--div">
    <div class="share--button__container">
        <button class="share--button js-btn" > <i class="far fa-address-card"></i> Crear tarjeta</button>
    </div>

    <!-- Tarjeta Creada -->
    <div class="share--card--created js-card-created hidden">
        <div class="share--card--created--text">La tarjeta ha sido creada</div>
        <div class="share--card--created--awesome-prof">url creada</div>
        <div class="share--card--created--button__container"></div>
        <a class="share--card--created--button" href="https://twitter.com/intent/tweet?text=Hey!%20Mira%20que%20tarjeta%20he%20creado"><i class="fab fa-twitter"></i> Compartir en twitter</a>
    </div>
    </div>
</div>
</section>