.main {
  background-image: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);
  border-bottom: solid 1px $color-text-medium;
}
.section--fill,
.design,
.section--share {
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 20px;
}
.section--share {
  padding-bottom: 20px;
}

@media all and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    .information {
      grid-column: 1/2;
      grid-row: 1/4;
    }
    .card-sample {
      grid-column: 2/3;
      grid-row: 1/4;
    }
  }
  .section--fill,
  .design,
  .section--share {
    padding: 10px 0 10px 0px;
  }

  .design {
    padding-top: 20px;
  }
}
