.section--share {
  padding-bottom: 20px;
  // padding-right: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid $color-text-medium;
  border-bottom: 1px solid $color-text-medium;
}

.share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  &--icon1 {
    color: $color-secondary-dark;
    width: 21px;
    height: 18px;
  }
  &--text {
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: $color-text-dark;
    position: absolute;
    left: 51px;
  }
  &--icon2 {
    color: $color-text-dark;
    width: 16px;
    height: 18px;
    font-weight: normal;
    text-align: right;
  }

  &--button {
    width: 199px;
    height: 50px;
    background-color: #d5d5d5;

    color: $color-secondary-light;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0px;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    outline: none;

    // &:active {
    //   background-color: $color-secondary-dark;
    //   box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    // }

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding-bottom: 30px;

      // border-bottom: 1px solid $color-text-medium;
    }
  }
}
.fa-address-card {
  color: $color-secondary-light;
}

.fa-share-alt {
  margin: 0 12px 0 0;
}

// Parte desplegada

.share--card--created {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid $color-text-medium;
  &--text {
    font-size: 18px;
    color: $color-text-dark;
    width: 219px;
    height: 24px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  &--button {
    color: $color-secondary-light;
    text-align: center;
    text-decoration: none;
    background-color: #00a0f5;
    font-family: $font-primary;
    font-size: 14px;
    line-height: 20px;
    width: 181px;
    height: 30px;
    border-radius: 3px;
    padding-top: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--awesome-prof {
    width: 292px;
    height: 17px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e17334;
    margin-bottom: 10px;
  }
}
@media all and(min-width:768px) {
  .share--text {
    position: absolute;
    left: 71px;
  }
}
