.hidden {
  display: none;
}

// Colores para la preview por paleta
.title--palette-1 {
  color: #114e4e;
  border-left: solid 5px #438792;
}

.title--palette-2 {
  color: #420101;
  border-left: solid 5px #bd1010;
}

.title--palette-3 {
  color: #3e5b65;
  border-left: solid 5px #eab052;
}

.subtitle--palette-1 {
  border-left: solid 5px #438792;
}

.subtitle--palette-2 {
  border-left: solid 5px #bd1010;
}

.subtitle--palette-3 {
  border-left: solid 5px #eab052;
}

.link--palette-1 {
  color:#114e4e;
  border: solid 2px #a2deaf;
}

.link--palette-2 {
  color:  #420101;
  border:solid 2px #e95626;
}

.link--palette-3 {
  color: #3e5b65;
  border: solid 2px #a0c0cf;
}

.link--palette-1:hover {
  background-color:#a2deaf;
}

.link--palette-2:hover {
  background-color:#e95626;
}

.link--palette-3:hover {
  background-color:#a0c0cf;
}