// PREVIEW
.card-sample {
  &--button {
    &:hover {
      background-color: $color-secondary-light;
      transform: scale(1.1);
    }
    &:active {
      background-color: transparent;
      transform: scale(1);
    }
  }
  &--item {
    &__link1,
    &__link2,
    &__link3,
    &__link4 {
      &:hover {
        background-color: $color-primary-light;
      }
    }
  }
}
