// colors
$color-primary-dark: #114e4e;
$color-primary-medium: #438792;
$color-primary-light: #a2deaf;
$color-secondary-dark: #e17334;
$color-secondary-medium: #f9f4dc;
$color-secondary-light: #ffffff;
$color-text-dark: #54585a;
$color-text-light: #999;
//fonts
$font-primary: 'Open Sans';
$font-secondary: 'Montserrat';
$font-terciary: 'Merriweather';
